#quizInfo {
    position: absolute;
    left: 35%;
    top: 20%;
    width: 500px;
    height: 500px;
    border: 10px rgb(22, 127, 233);
}

#questionsDiv {
    margin: 30px;
    font-size: large;
}

#currentClock {
    margin: 10%;
    padding: 15px 15px;
    font-size: 20px;
    color: black;
    float: right;
}

button {
    border-radius: 8px;
    font-size: medium;
}

#submitFinal {
    background-color: rgb(7, 47, 92);
    margin-left: 33%;
    padding: 15px 15px;
    font-size: 20px;
    color: white;
}

input {
    margin-bottom: 20px;
    width: 50%;
    font-size: medium;
    background-color: rgb(144, 147, 150);
}

h1 {
    text-align: center;
    color: rgb(139, 0, 19);
}

li {
    background-color: rgb(2, 33, 58);
    margin-top: 5px;
    padding: 5px 5px;
    width: 40%;
    font-size: 20px;
    color: white;
}